body {
    display: block;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    font-family: Roboto,sans-serif;
    color: #2c363a;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.auth-container {
    display: inline-block;
    position: absolute;
    max-width: 100%;
    width: 320px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.auth-logo {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
.auth-error {
    display: block;
    position: relative;
    width: calc(100% - 24px);
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background: #dc1f27;
    border: 1px solid #cf1f25;
    border-radius: .25rem;
}
.auth-input {
    display: block;
    position: relative;
    margin-top: 10px;
}
.auth-input input {
    display: block;
    position: relative;
    width: calc(100% - 24px);
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.auth-submit {
    display: block;
    position: relative;
    margin-top: 10px;
}
.auth-submit input {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background: #37beff;
    border: 1px solid #37beff;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}
.auth-submit input:hover {
    background: #3ab6f2;
}
.auth-text {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 15px;
    color: #737677;
    font-size: 14px;
}
.section {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
}
.container {
    display: inline-block;
    position: relative;
    text-align: left;
    width: calc(100% - 40px);
    max-width: 600px;
    padding: 15px 20px;
}
.top {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.top-left {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}
.top-right {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}
.top-left-title {
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}
.top-left-logout {
    display: inline-block;
    position: relative;
    margin-left: 7px;
}
.top-left-logout img {
    width: 32px;
}
.button-add {
    display: inline-block;
    position: relative;
}
.button-add img {
    width: 32px;
}
.button-back {
    display: inline-block;
    position: relative;
}
.button-back img {
    width: 32px;
}
.success {
    display: inline-block;
    position: relative;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background: #2fb23a;
    border: 1px solid #2fb23a;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 5px;
}
.emails {
    display: block;
    position: relative;
    margin-top: 5px;
}
.emails-inner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
    padding: 5px 0;
}
.emails-inner-title {
    display: inline-block;
    position: relative;
}
.emails-inner-action {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}
.emails-inner-action-edit {
    display: inline-block;
    position: relative;
}
.emails-inner-action-edit img {
    width: 32px;
}
.emails-inner-action-delete {
    display: inline-block;
    position: relative;
    margin-left: 7px;
}
.emails-inner-action-delete img {
    width: 32px;
}
.form-title {
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.form-user {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}
.form-user input {
    display: block;
    position: relative;
    width: calc(100% - 24px);
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-user-text {
    display: inline-block;
    position: relative;
    margin-left: 7px;
}
.form-input {
    display: block;
    position: relative;
    margin-top: 10px;
}
.form-input input {
    display: block;
    position: relative;
    width: calc(100% - 24px);
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-submit {
    display: block;
    position: relative;
    margin-top: 10px;
}
.form-submit input {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background: #37beff;
    border: 1px solid #37beff;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}
.form-submit input:hover {
    background: #3ab6f2;
}
.error {
    display: inline-block;
    position: relative;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background: #cf1f25;
    border: 1px solid #cf1f25;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 5px;
}
.copyright {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 15px;
    color: #737677;
    font-size: 14px;
}